/* cream = #f0ead2;
lightGreen = #dde5b6ff;
darkGreen = #adc178ff;
lightBrown = #a98467ff;
darkBrown = #6c584cff; */

.bg-cream{
    background-color: #f0ead2;
}
.bg-lightGreen{
    background-color: #dde5b6;
}
.bg-darkGreen{
    background-color: #adc178;
}
.bg-lightBrown{
    background-color: #a98467;
}
.bg-darkBrown{
    background-color: #6c584c;
}
.bg-black{
    background-color: black;
}
.text-cream{
    color: #f0ead2;
}
.text-lightGreen{
    color: #dde5b6;
}
.text-darkGreen{
    color: #adc178;
}
.text-lightBrown{
    color: #a98467;
}
.text-darkBrown{
    color: #6c584c;
}
.text-white a{
    color:white;
}
.ps-green{
    background-color: #dde5b6;
    width: 100%;
    height: 550px;
}
.ps-brown{
    background-color: #a98467;
    width: 100%;
    height: 550px;
}
nav{
    height: 10%;
}
.videoLayer{
    height: 90%;
    top: 10%;
}
